<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="answer" data-turbo="false">
    <p>Ask your coach anything:</p>
    <input type="text" class="col-11"  name="ask_coach">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
