<form action="answer" data-turbo="false">
  <h1>Stupid Coaching</h1>
  <label class="form-label">Ask your coach anything:</label>
  <div class="input-group">
    <input type="text" class="form-control"  name="ask_coach">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
